<div id="page_wrapper">
  <h2>Criar conta</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
    <br>
    <div class="field">
      <%= f.label :Senha %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :Confirmação_da_senha %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Criar" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>