	<%= form_for @post do |f| %>
	  <% if @post.errors.any? %>
	  	<div id="errors">
	  		<h2><%= pluralize(@post.errors.count, "erros") %> o impediu de salvar</h2>
	  		<ul>
	  			<% @post.errors.full_messages.each do |msg| %>
	  			<li><%= msg %></li>
	  			<% end %>
	  		</ul>
	  	</div
	  <% end %>
		<p>
			<%= f.label :título %><br>
			<%= f.text_field :title %>
		</p>

		<p>
			<%= f.label :mensagem %><br>
			<%= f.text_area :body %>
		</p>

		<p>
			<%= f.submit %>
		</p>
	<% end %>
