<!DOCTYPE html>
<html>
<head>
  <title>Blog - Ruby on Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
			<%= image_tag "logo.png" %>
			<% end %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Blog", root_path %></li>
			<li><%= link_to "Sobre", sobre_path %></li>
		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Instagram</a></li>
			<li><a href="#">Github</a></li>
			<li><a href="#">E-mail</a></li>
		</ul>

		<p class="sign_in">Login</p>
	</div>

	<div id="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p>Todos os Posts</p>
			<% elsif current_page?(sobre_path) %>
				<p>Sobre</p>
			<% else %>
				<%= link_to "Voltar para Posts", root_path %>
			<% end %>

			<div class="buttons">
				<button class="button"><%= link_to "Novo Post", new_post_path %></button>
				<button class="button">Sair</button>
			</div>
		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

	  <%= yield %>
	</div>
</body>
</html>
